.logo {
  margin-top: 50%;
}

.logo_img {
  width: 75%;
  display: block;
  margin: auto;
}

.logo .text{
    width: 75%;
    display: block;
    margin: auto;
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 14px;
}
