.forgot_pssw {
  text-align: end;
  margin-top: 5%;
  color: var(--ion-color-primary);
}

.input {
  border-radius: 5%;
  // color: #ffffff;
  background-color: var(--ion-background-color);
}

.google {
  --background: #db4437;
  color: #fff;
}
