.forgot_pssw {
  text-align: end;
  margin-top: 5%;
  color: var(--ion-color-primary);
}

.login_btn{
    margin-top: 10%;
    color: #ffffff;
}

.input{
    border-radius: 5%;
    color: #ffffff;
    background-color: var(--ion-background-color);
}
